*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family:'Fira Sans', sans-serif
}
header{
    padding-top:50px;
    padding-bottom:50px
}
header h1{
    color:#AAA;
    font-size:36px;
    font-weight:400;
    text-align:center
}
header h1 strong{
    color:#313131
}
.content-wrap{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}

/*# LOGIN */
.back{
    display: flex;
    align-self: center;
    text-align: center;
}
.center{
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(71, 58, 58, 0.267);
    border-radius: 10px;
}
.center h2 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}
.txt_field {
    position:relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border:none;
    background: none;
    outline: none; 
}
.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgba(41, 37, 37, 0.644);
    transform: translateY(-60%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before {
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width:0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color:#2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: rgba(41, 37, 37, 0.644);
    cursor:pointer;
}
.pass:hover{
    text-decoration: underline;
}
.LogIn{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline: none;
}
.LogIn:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color:rgba(41, 37, 37, 0.644);
}
.signup_link2{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color:#2691d9;
    text-decoration: none;
}
.signup_link2:hover{
    text-decoration: underline;

}


/*# BEGINNING aside / Sidebar #*/

.content-wrap aside{
    -webkit-box-flex:1;
    -ms-flex:1 1 250px;
    flex:1 1 250px;
    max-width:250px;
    padding-right:16px
}
.content-wrap aside nav{
    padding-left:16px;
    padding-right:16px
}
.content-wrap aside nav h3{
    color:#313131;
    font-size:24px;
    margin-bottom:16px
}
.content-wrap aside nav a{
    display:block;
    padding:8px 16px;
    text-align:left;
    color:#888;
    font-size:16px;
    margin-bottom:16px;
    background-color:#EEE;
    border-radius:999px;
    text-decoration:none;
    -webkit-transition:0.4s;
    transition:0.4s
}
.content-wrap aside nav a:hover{
    background-color:#313131;
    color:#AAA
}
/*# FINISH aside / Sidebar #*/

/*# BEGINNING  main  / MainContent #*/

.content-wrap main{
    -webkit-box-flex:1;
    -ms-flex:1 1 0%;
    flex:1 1 0%;
    padding: 0px 16px
}
.content-wrap main .main-head{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
.content-wrap main .main-head .search-box{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:center;
    -webkit-box-flex:1;
    -ms-flex:1 1 0%;
    flex:1 1 0%;
    padding-right: 250px;
}
.content-wrap main .main-head .search-box input{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:none;
    outline:none;
    border:none;
    display:block;
    width:100%;
    max-width:400px;
    padding:16px;
    border-radius:999px;
    background-color:#EEE;
    -webkit-transition:0.4s;
    transition:0.4s
}
.content-wrap main .main-head .search-box input ::-webkit-input-placeholder{
    color:#888
}
.content-wrap main .main-head .search-box input :-ms-input-placeholder{
    color:#888
}
.content-wrap main .main-head .search-box input ::-ms-input-placeholder{
    color:#888
}
.content-wrap main .main-head .search-box input ::placeholder{
    color:#888
}
.content-wrap main .main-head .search-box input:focus,.content-wrap main .main-head .search-box input:valid{
    background-color:#313131;color:#FFF
}
.content-wrap main .anime-list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-top:32px;
    margin:32px -8px 0px
}
.content-wrap main .anime-list .anime-card{
    -webkit-box-flex:1;
    -ms-flex:1 1 33.333%;
    flex:1 1 33.333%;
    max-width:33.333%;
    padding:16px 8px
}
.content-wrap main .anime-list .anime-card a{
    text-decoration:none
}
.content-wrap main .anime-list .anime-card figure{
    display:block;margin-bottom:16px
}
.content-wrap main .anime-list .anime-card figure img{
    display:block;
    width:100%;
    height:350px;
    -o-object-fit:cover;
    object-fit:cover;
    border-radius:16px;
    -webkit-box-shadow:0px 0px 0px rgba(0,0,0,0.15);
    box-shadow:0px 0px 0px rgba(0,0,0,0.15);
    -webkit-transition:0.4s;
    transition:0.4s
}
.content-wrap main .anime-list .anime-card h3{
    color:#313131
}
.content-wrap main .anime-list .anime-card:hover figure img{
    -webkit-box-shadow:0px 6px 12px rgba(0,0,0,0.25);
    box-shadow:0px 6px 12px rgba(0,0,0,0.25);
    -webkit-transform:scale(1.05);
    transform:scale(1.05)
}


/*# sourceMappingURL=main.css.map */


